/**********************************************************************************/
/* BEGIN OF CSS style for global pages, including header.php, footer.php */

body {
    margin:0px;
    padding: 120px;
    font-family: Arial;
}

#category_dropdown {
    font-size: 20px;
}

#search_input {
    font-size: 20px;
    
}
.searchButton {
    font-size: 20px;
}
input[type="submit"] {
    font-size: 25px;
}
input[type="button"] {
    font-size: 25px;
}

input[readonly], textarea[readonly]{
    background-color: lightgrey;
}

#signin {
    font-size: 20px;
}
#signup {
    font-size: 20px;
}
#signup_submit {
    font-size: 18px;
}
#signout {
    font-size: 20px;
}
.form{
    text-align: center;
    margin-bottom: 10%;
    font-size: 16px;
}

.footer {
    width:100%;
    text-align: center;
    font-size: 18px;

}
.container{
    background:lightGray;
    margin: 0 auto;
}
a:link, a:visited {
    color: slateGray;
    text-decoration: none;
}

a:hover {
    color:#777;
}
.error_info {
    color:#aa0000;
    text-align:center;
}

/* END OF CSS Style for global pages*/


/**********************************************************************************/
/* BEGIN OF CSS style for sell.php, product_detail.php, order.php, order_detail.php */
/* Following style components are generic and standardized. Hence can be reused in other pages*/

h3 {
    color: coral;
}

.box {
    border: 2px ridge;
    border-color: gray;
    border-radius: 10px;
    margin: 15px;
    margin-top: 40px;
    background-color: white;
    padding-left: 30px; padding-right: 30px;
    padding-bottom: 10px; padding-top: 10px;
}
.box_center {
    border: 2px ridge;
    border-color: gray;
    border-radius: 10px;
    margin: 15px;
    margin-top: 40px;
    background-color: white;
    padding-left: 30px; padding-right: 30px;
    padding-bottom: 10px; padding-top: 10px;
    text-align: center;
}
.menu {
    position: relative;
    width: 80%;
    text-align: left;
    padding-left: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.logo {
    height: 98px;
    width: 175px;
}
.center_align {
    text-align: center;
}
.left_align {
    text-align: left;
    margin-left: 4px;
}

em{
    font-size: small;
    font-style: normal;
}
.comments {
    color: red;
}

.bold {
    font-weight: bold;
    font-family: helvetica;

}

ul.nostyle_horizontal li {
    display: inline-block;
    vertical-align: top;
    padding-left: 30px;
}

.left_column {
    /*margin-left: 25px auto;*/
    margin-right: auto;
    margin-left: auto;
    width: 20%;
}

.center_column {
    width: 50%;
    padding-left: 10px;
    /*margin-left: 30px auto;*/
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.right_column {
    /*margin-left: 25px auto;*/
    margin-right: auto;
    margin-left: auto;
    width: 20%;
    position: relative;
}

.display_inline {
    display: inline-block;
    vertical-align: top;
}

.text_wrap {
    word-wrap: break-word;
}

table {
    border-collapse: collapse;
}

#product_img {
    max-width: 220px;
}
.product{
    height: auto;
    width: auto\9;
    max-width: 100%;
}

th, td {
    border: 2px solid black;
    padding: 8px;
}

.input_label {
    width: 10em; float: left;
}
/* END OF CSS Style for Sell.php, product_detail.php, order.php, order_detail.php */
/**********************************************************************************/






/**********************************************************************************/
/* BEGIN OF CSS style for index.php */

.item {
    float: left;
}
.item_icon {
    height: 150px;
    width: 150px;
}

/* END OF CSS Style for index.php */
/**********************************************************************************/

#signInSubmitBtn {
    font-size: 20px;
}

.show_table {
    border: none;
    width: 100%;
}

.show_table td {
    border: none;
    padding: 20px;
    text-align: left;
}

.page_nav {
    text-align: center;
}
.page_nav > a {
   font-size: 20px;
   text-decoration: none;
}

.search_form {
   display: inline-block;
}
#delete_button {
   background-color: red;
   font-size: 40px;
   padding: 10px;
}
.mybutton{
   font-size: 20px;
}



/****************** for feedback stars ******************/
.star-rating {
  font-size: 0;
  white-space: nowrap;
  display: inline-block;
  width: 250px;
  height: 50px;
  overflow: hidden;
  position: relative;
  background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
  background-size: contain;
}
.star-rating i { 
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 20%;
  z-index: 1;
  background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjRkZERjg4IiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
  background-size: contain;
}

.star-rating input {
  -moz-appearance: none;
  -webkit-appearance: none;
  opacity: 0;
  display: inline-block;
  width: 20%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 2;
  position: relative;
}
.star-rating input:hover + i,
.star-rating input:checked + i {
  opacity: 1;
}
.star-rating i ~ i {
  width: 40%;
}
.star-rating i ~ i ~ i {
  width: 60%;
}
.star-rating i ~ i ~ i ~ i {
  width: 80%;
}
.star-rating i ~ i ~ i ~ i ~ i {
  width: 100%;
}
.choice {
  /*position: fixed;
  top: 0;
  left: 0;
  right: 0;
  */
  text-align: left;
  padding-bottom: 20px;
  display: block;
}

